.section-with-aiko-slider .content-wrapper {
  box-sizing: border-box !important;
}
.sqs-gallery-design-carousel {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.sqs-gallery-design-carousel.loaded-carousel {
  opacity: 1 !important;
}
.aiko-plugin {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: black; /* Black background */
  color: white; /* White text */
}
.aiko-plugin .summary-item-list-container.sqs-gallery-container,
.aiko-plugin .summary-block-header {
  display: none;
}
.aiko-plugin .aiko-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
}
@media only screen and (max-width: 1000px) {
  .aiko-plugin .aiko-wrapper {
      flex-wrap: wrap;
  }
}
.aiko-plugin .left-part {
  width: 35%;
  margin-right: 4%;
  padding: 20px;
}
.aiko-plugin .right-part {
  width: 60%;
}
@media only screen and (max-width: 640px) {
  .aiko-plugin .left-part,
  .aiko-plugin .right-part {
      width: 100%;
  }
}
.aiko-plugin .image-slide {
  background: black; /* Black background for each item */
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  color: white;
}
.aiko-plugin h3 {
  font-size: 1.8em;
  color: white; /* White font color */
  margin: 0 0 10px;
}
.aiko-plugin p {
  font-size: 1.1em;
  line-height: 1.5;
  color: white; /* White font color */
}
.aiko-plugin .image-slide-inner img {
  border-radius: 50%; /* Circular image */
  width: 100%; /* Ensure it takes up full space */
  height: auto;
  object-fit: cover;
}
.aiko-plugin svg {
  width: 40px;
  height: 40px;
  stroke: white; /* White icon color */
}
.aiko-control-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.aiko-control-wrapper .swiper-button-next,
.aiko-control-wrapper .swiper-button-prev {
  background-color:white;
  padding: 12px;
  color: black;
  border-radius: 50%; /* Rounded buttons */
  font-size: 1.2em;
  transition: background 0.3s ease;
}
.aiko-control-wrapper .swiper-button-next:hover,
.aiko-control-wrapper .swiper-button-prev:hover {
  background-color:gray;
}
